.no-select {
  user-select: none;  /* 标准 CSS 属性 */
  -webkit-user-select: none; /* 兼容 Safari 和部分旧版浏览器 */
  -moz-user-select: none;    /* 兼容 Firefox */
  -ms-user-select: none;     /* 兼容 IE */
}

html,body{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
}
