.json-search-root{
  --el-color-primary: #6366f1 !important;
  --el-color-primary-light-3: #818cf8 !important;
  --el-color-primary-dark-2: #4338ca !important;
}
.json-search-root .el-dialog__title {
  display: block;
  text-align: left;
}
